



<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Hybridlights</title>

        <!-- css -->
        <link rel="stylesheet" href="static/styles/base.css">

        {% block head %}
        {% endblock %}

    </head>

    <body class="flex-vert">
        <header class="flex-horz flex-between">
            <img class="header-img" src="static/assets/imgs/logo-dark-2x1.png"> 
            <nav>

                <ul class="flex-horz flex-around">
                    <li class="li-no-dot">
                        <a href="/home" class="no-decoration nav-item">Home</a>
                    </li>
                    <li class="li-no-dot">
                        <a href="/verhuur" class="no-decoration nav-item">verhuur</a>
                    </li>
                    <li class="li-no-dot">
                        <a href="/contact" class="no-decoration nav-item">contact</a>
                    </li>
                </ul>

            </nav>
        </header>

        <main>

        {% block content %}
        {% endblock %}

        </main>

        <footer>
            footer
        </footer>



        <!-- js -->
        <script src="static/scripts/base.js"></script>
        <script src="static/scripts/notifications.js"></script>

        {% block js %}
        {% endblock %}

    </body>
</html>